
            <!--우측 상단 헤더 영역 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>관리자정보관리</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a>관리자정보관리</a>
                        </li>
                       
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <!--우측 콘텐츠 영역 -->
            <div class="wrapper wrapper-content">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="OrderNo">관리자명</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="OrderName">아이디</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="MobileNo">부서</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">조회</button>
                        <a href="/admin/create" class="btn btn-info">신규</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div class="table-responsive">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th width="10%">관리자고유번호</th>
                                                <th width="10%">소속회사 코드</th>
                                                <th width="10%">부서명</th>
                                                <th width="10%">아이디</th>
                                                <th width="20%">이름</th>
                                                <th width="10%">이메일</th>
                                                <th width="10%">전화번호</th>
                                                <th width="10%">생성일시</th>
                                                <th width="10%">수정일시</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody class="hoverTblBody">

                                            <% for(var i =0;i<admins.length;i++){ %>
                                            <tr>
                                                <td><%=admins[i].admin_member_id%></td>
                                                <td><%=admins[i].company_code%></td>
                                                <td><%=admins[i].dept_name%></td>
                                                <td><a href="/admin/modify/<%=admins[i].admin_member_id%>"><%=admins[i].admin_id%></a></td>
                                                <td><%=admins[i].admin_name%></td>
                                                <td><%=admins[i].email%></td>
                                                <td><%=admins[i].telephone%></td>
                                                <td><%=moment(admins[i].reg_date).format('YYYY-MM-DD HH:mm')%></td>
                                                <td><%=moment(admins[i].edit_date).format('YYYY-MM-DD HH:mm')%></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

